// Breakpoints
$bp-larger-than-mobile: 'min-width: 400px' !default;
$bp-larger-than-phablet: 'min-width: 550px' !default;
$bp-larger-than-tablet: 'min-width: 750px' !default;
$bp-larger-than-desktop: 'min-width: 1000px' !default;
$bp-larger-than-desktophd: 'min-width: 1200px' !default;

// Colors
$primary-colour: rgba(215, 31, 133, 1) !default;
$secondary-colour: rgba(215, 31, 133, 1) !default;
$light-colour: rgba(241, 241, 241, 1) !default;
$dark-colour: rgba(51, 51, 51, 1) !default;
$border-colour: #bbb !default;
$link-color: rgba(0, 175, 216, 1) !default;
$font-color: rgba(250, 250, 250, 1) !default;
$white: rgba(255, 255, 255, 1);
$transwhite: rgba(255, 255, 255, .2);
$transblack: rgba(0, 0, 0, .2);

// Font Variables
$body-font: 'Roboto', Helvetica, Arial, sans-serif;
$header-font: 'Open Sans', Helvetica, Arial, sans-serif;

// Misc
$global-radius: 4px !default;
